// Оголошення змінних
$container: #e0e2e8;
$topbg: #fff;
$bottombg: #fff;
$font: "Open Sans", sans-serif;
$grey: #6c6c6c;

// Глобальні стилі
body, p, h1 {
  margin: 0;
  padding: 0;
  font-family: $font;
}

body {
  background-image: url('../img/plane1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  background-color: rgba(255, 255, 255, 0.13);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 10px;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #f4f4f4;
}

.container {
  display: flex;
  justify-content: center; /* Тут змінено */
  align-items: center; /* Видалено */
}

.ticket {
  width: 100%; /* Set the width of the ticket */
  max-width: 900px; /* Limit maximum width for larger screens */
  margin-bottom: 40px;
}

.airline {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

.top {
  height: 110px;
  background: #6c6c6c;
  border-top-right-radius: 40px;
  border-top-left-radius: 25px;
  text-align: center;
}

.bottom {
  padding: 20px;
  background: $bottombg;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  text-align: center;
}

.big {
  font-size: 28px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big .to {
  margin-left: 10px;
  font-size: 24px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.row span {
  font-weight: bold;
}

//
.ticket {
  margin: auto; /* Видалено */
  display: flex;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  /* Видалено */
}

.left {
  display: flex;
}

.image {
  height: 250px;
  width: 250px;
  background-image: url("https://media.pitchfork.com/photos/60db53e71dfc7ddc9f5086f9/1:1/w_1656,h_1656,c_limit/Olivia-Rodrigo-Sour-Prom.jpg");
  background-size: contain;
  opacity: 0.85;
}

.admit-one {
  position: absolute;
  color: darkgray;
  height: 250px;
  padding: 0 10px;
  letter-spacing: 0.15em;
  display: flex;
  text-align: center;
  justify-content: space-around;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
}

.admit-one span:nth-child(2) {
  color: white;
  font-weight: 700;
}

.left .ticket-number {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 5px;
}

.ticket-info {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.date {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 5px 0;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.date span {
  width: 100px;
}

.date span:first-child {
  text-align: left;
}

.date span:last-child {
  text-align: right;
}

.date .june-29 {
  color: #404040;
  font-size: 20px;
}

.show-name {
  font-size: 32px;
  font-family: "Arial", cursive;
  color: #404040;
}

.show-name h1 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #404040;
}

.time {
  padding: 10px 0;
  color: #4a437e;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 700;
}

.time span {
  font-weight: 400;
  color: gray;
}

.left .time {
  font-size: 16px;
}


.location {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 8px;
  border-top: 1px solid gray;
}

.location .separator {
  font-size: 20px;
}

.right {
  width: 180px;
  border-left: 1px dashed #404040;
}

.right .admit-one {
  color: darkgray;
}

.right .admit-one span:nth-child(2) {
  color: gray;
}

.right .right-info-container {
  height: 250px;
  padding: 10px 10px 10px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.right .show-name h1 {
  font-size: 18px;
}

.barcode {
  height: 100px;
}

.barcode img {
  height: 100%;
}

.right .ticket-number {
  color: gray;
}
