{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Airlines Tickets</title>
    <link rel="stylesheet" href="../static/css/home.css"/>
</head>
<script>document.getElementById("flightForm").addEventListener("submit", function (event) {
    event.preventDefault(); // Prevent default form submission

    var originCity = document.getElementById("originCity").value;
    var destinationCity = document.getElementById("destinationCity").value;

    var url = "/api/v1/flights/?origin_city=" + encodeURIComponent(originCity) + "&destination_city=" + encodeURIComponent(destinationCity);

    fetch(url)
        .then(response => {
            if (!response.ok) {
                throw new Error("Network response was not ok");
            }
            return response.json();
        })
        .then(data => {
            console.log(data);
        })
        .catch(error => {
            console.error("There was a problem with the fetch operation:", error);
        });
});</script>
<body>

<nav>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'my_booking' %}">My Booking</a>
    <a href="{% url 'profile' %}">Profile</a>
</nav>

<h1>Welcome to Airline Tickets</h1>

<form action="api/v1/flights/cities/" method="get">
    <label>From where we go?</label>
    <input type="text" name="origin_city" list="originCities">
    <datalist id="originCities">
        <option value="Paris">
        <option value="Chernivtsi">
        <option value="Kyiv">
        <option value="Lviv">
        <option value="New York">
    </datalist>

    <label>Where we go?</label>
    <input type="text" name="destination_city" list="destinationCities">
    <datalist id="destinationCities">
        <option value="Paris">
        <option value="Chernivtsi">
        <option value="Kyiv">
        <option value="Lviv">
        <option value="New York">
    </datalist>

    <input type="submit" value="SUBMIT">
</form>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/yurii-polulikh" class="social-icon">
                        <svg height="25" width="20" viewBox="0 2 20 20" xmlns="http://www.w3.org/2000/svg">
                            <g fill="none" fill-rule="evenodd" transform="translate(-12 -12)">
                                <path d=" m0 0h44v44h-44z"></path>
                                <path d="m12.504 18.413h3.899v13.587h-3.899zm1.85-1.7h-.028c-1.411 0-2.326-1.038-2.326-2.353 0-1.342.942-2.36 2.381-2.36 1.438 0 2.323 1.015 2.35 2.356 0 1.315-.912 2.358-2.377 2.358zm17.646 15.287h-4.42v-7.032c0-1.84-.692-3.095-2.212-3.095-1.163 0-1.81.847-2.11 1.665-.114.292-.096.7-.096 1.11v7.352h-4.38s.057-12.455 0-13.587h4.38v2.132c.259-.932 1.658-2.263 3.89-2.263 2.771 0 4.948 1.956 4.948 6.163z"
                                      fill="#fff"></path>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <ul>
                    <a href="{% url 'about' %}">About Us</a>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
