<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" href="../static/css/layout.css"/>
</head>
<body>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="social-icons">
                    <a href="www.linkedin.com/in/yurii-polulikh" class="social-icon">
                        <svg height="25" width="20" viewBox="0 2 20 20" xmlns="http://www.w3.org/2000/svg">
                            <g fill="none" fill-rule="evenodd" transform="translate(-12 -12)">
                                <path d="m0 0h44v44h-44z"></path>
                                <path d="m12.504 18.413h3.899v13.587h-3.899zm1.85-1.7h-.028c-1.411 0-2.326-1.038-2.326-2.353 0-1.342.942-2.36 2.381-2.36 1.438 0 2.323 1.015 2.35 2.356 0 1.315-.912 2.358-2.377 2.358zm17.646 15.287h-4.42v-7.032c0-1.84-.692-3.095-2.212-3.095-1.163 0-1.81.847-2.11 1.665-.114.292-.096.7-.096 1.11v7.352h-4.38s.057-12.455 0-13.587h4.38v2.132c.259-.932 1.658-2.263 3.89-2.263 2.771 0 4.948 1.956 4.948 6.163z"
                                      fill="#1A1A1A"></path>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Legal</h4>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
