<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Booking - Airlines Tickets</title>
    <link rel="stylesheet" href="../static/css/personal-cabinet.css"/>

</head>
<body>


<nav>
    <a href="index.html">Home</a>
    <a href="personal-cabinet.html">My Booking</a>
    <a href="sign-in.html">Profile</a>
</nav>

<!--.-->
<!---->
<!---->


<div class="ticket created-by-anniedotexe">
    <div class="left">

        <div class="ticket-info">
            <p class="date">
                <span>Kyiv</span>
                <span class="june-29">JUNE 29TH</span>
                <span>New York</span>
            </p>
            <div class="show-name">
                <h1>Ukraine</h1>
                <h2>United States of Americe</h2>
            </div>
            <div class="time">
                <p>Departure <span></span> 11:00 PM</p>
                <p>Arriving <span></span> 7:00 PM</p>
            </div>
            <p class="location"><span>PLACE: 3A</span>
            </p>
        </div>
    </div>

</div>

</body>
</html>
